* {
  margin: 0;
  padding: 0;
}
  
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: sans-serif;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin: 15px auto;
}

#author {
  text-align: right;
  font-weight: 400;
  font-style: italic;
  margin: 15px auto;
  font-size: 18px;
  color: #06283D;
}

p {
  text-align: right;
  margin: 15px 0;
  font-size: 18px;
}

#text {
  color: #06283D;
}

#text {
  opacity: 0;
  animation: fadeIn 2s forwards; /* adjust duration as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #06283D, #035ea0);
  background-size: 200% 200%;
  animation: gradientAnimation 25s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Initial position of the gradient */
  }
  50% {
    background-position: 100% 50%; /* Midpoint position of the gradient */
  }
  100% {
    background-position: 0% 50%; /* Final position of the gradient */
  }
}

#quote-box {
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  #quote-box {
    width: 90%; /* Set the width to 90% of the viewport */
    padding: 20px; /* Reduce padding for smaller screens */
    margin-left: 20px; /* Add left margin */
    margin-right: 20px; /* Add right margin */
  }
}

.clickable {
    display: flex;
    align-items: center;
}

.container .button,
#tweet-quote{
    background-color: #1363DF;
    border-color: #1363DF;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
}

#tweet-quote:hover {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#tweet-quote {
    display: block;
    margin-right: auto;
    margin-left: 15px;
    text-decoration: none;
}

#new-quote {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
  color: white;
}
